<h1>User Login</h1>
<%= form_with url: user_signin_user_index_path, method: :post, local: true do |form| %>
  <%= form.label :email %>
  <%= form.email_field :email, required: true %>
  <div></div>
  <%= form.label :password %>
  <%= form.password_field :password, required: true %>
  <%= form.submit 'Submit' %>
<% end %>